@page
@model ProyectoCiclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
    
}
 
<div class="text-center">
<form method="post">
  <label for="id" class="form-label d-none">Id Ruta:</label>
  <input type="number" class="form-control d-none"  placeholder="Id Ruta" asp-for="@ruta.id" required>
  
  <label for="origen" class="form-label">Origen Ruta:</label>
  <select asp-for="Ruta.origen" class="form-control" required>
        <option value="">Selecciona el origen</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>

  <label for="destino" class="form-label">Destino Ruta:</label>
  <select asp-for="Ruta.destino" class="form-control" required>
        <option value="">Selecciona el destino</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>


  <label for="tiempo_estimado" class="form-label">TiempoEstimado Ruta:</label>
  <input type="number" class="form-control"  placeholder="TiempoEstimado Ruta" asp-for="@ruta.tiempo_estimado" required>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
